.emphasis1 {
  text-decoration: var(--accent2-fg-color) wavy underline;
}

.emphasis2 {
  font-weight: bold;
  background: linear-gradient(transparent 70%, var(--accent-fg-color) 70%);
}

.text-center {
  text-align: center;
}
