.desktop-only {
  display: inline-block;
}
.mobile-only {
  display: none;
}

@media only screen and (max-width: 800px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: inline-block;
  }
}
