---
title: 場所・運営
layout: layouts/main.njk
---

<div class="place">
  <h2 class="emphasis1">開催場所</h2>
  <div class="place-container">
    <div class="place-left">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13056.24987550294!2d138.83560658503484!3d35.105150983776184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60198ff385b95555%3A0x30a2b618d1b05a28!2z44Ki44Oz44K444Ol44O844Or!5e0!3m2!1sen!2sjp!4v1664309522903!5m2!1sen!2sjp"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="place-map"
      ></iframe>
    </div>
    <div class="place-right">
      <h3>
        <span class="emphasis2"> 合同会社ノイマン 沼津オフィス </span>
      </h3>
      <dl class="place-information">
        <dt>郵便番号</dt>
        <dd>410-0836</dd>
        <dt>住所</dt>
        <dd>静岡県沼津市吉田町31の3 アンジュール 201号室</dd>
        <dt>営業時間</dt>
        <dd>毎週火・水曜日 18:00-19:30</dd>
      </dl>
    </div>
  </div>
</div>

<div class="teachers">
  <h2 class="emphasis1">代表挨拶</h2>
  <div class="teachers-container">
    <img src="/img/kbaba1001.jpg" alt="馬場一樹" class="teachers-photo" />
    <h3>
      <span class="emphasis2">合同会社ノイマン 代表 馬場一樹</span>
    </h3>
    <div class="teachers-profile">
      <p>
        現役プログラマとして主に Web システムの開発を10年ほど行っています。
        昨今のプログラミング教育に疑問を感じ、自ら教育カリキュラムを作成して
        Neumann Lab を設立しました。好きな言語は Clojure と Ruby。
      </p>
    </div>
  </div>
</div>

<div class="company">
  <h2 class="emphasis1">運営企業について</h2>
  <div class="company-container">
    <img src="/img/neumann.png" src="合同会社ノイマン" class="company-photo" />
    <h3 class="emphasis2">合同会社ノイマン</h3>
    <div class="teachers-description">
      <p>
        静岡県三島市に本社を構えるIT企業です。主に Web
        システムの開発・運用をテレワークで行っています。
      </p>
      <p>
        <a href="https://www.neumann.tokyo" target="_blank">会社ホームページ</a>
      </p>
    </div>
  </div>
</div>
