---
title: ノイマンラボ -- Neumann Lab --
layout: layouts/main.njk
---

<div class="top">
  <div class="catchphrase">
    <img
      src="/img/top-image.webp"
      alt="IoT"
      class="catchphrase-image"
      loading="lazy"
    />
  </div>

  <div class="top-images">
    <div class="top-images-row">
      <img
        src="/img/top-illust1.webp"
        class="top-images-row-image"
        loading="lazy"
        alt="top-illust1"
      />
      <div class="top-images-row-text">
        <h2 class="emphasis1">プログラミングをやってみよう</h2>
        <p>
          ノイマンラボ
          は静岡県沼津市にある初心者・子供向けのプログラミング教室です。
        </p>
        <ul class="top-images-row-text-list emoji-list">
          <li class="top-images-row-text-list-item emoji-list-item">
            <span class="emphasis2">
              まったくプログラミングをしたことがない人
            </span>
          </li>
          <li class="top-images-row-text-list-item emoji-list-item">
            <span class="emphasis2">
              本を読んでプログラミングをしてみたけど挫折した人
            </span>
          </li>
          <li class="top-images-row-text-list-item emoji-list-item">
            <span class="emphasis2"> プログラミング仲間がほしい人 </span>
          </li>
        </ul>
        <p>誰でも参加できます❗ご相談ください。</p>
      </div>
    </div>
    <div class="top-images-row-r">
      <img
        src="/img/top-illust2.webp"
        class="top-images-row-image"
        loading="lazy"
        alt="top-illust2"
      />
      <div class="top-images-row-text">
        <h2 class="emphasis1">現役プログラマ在籍！高度な質問にも答えます</h2>
        <dl class="emoji-list">
          <dt class="emoji-list-item">
            <span class="emphasis2">現役プログラマによる高度な専門性</span>
          </dt>
          <dd class="top-images-row-text-list-item">
            実際にWebプログラマとして活動中の講師が技術的な質問や業界についての質問にも答えます
          </dd>
          <dt class="emoji-list-item">
            <span class="emphasis2">
              Pythonなどのプログラミング言語を学ぼう
            </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            Scratch のようなビジュアルプログラミングではなく Python
            などのテキストプログラミング言語を主に使います。
            これにより卒業後も役立つスキルを得ることができます。
          </dd>
        </dl>
      </div>
    </div>
    <div class="top-images-row">
      <img
        src="/img/top-illust3.webp"
        class="top-images-row-image"
        loading="lazy"
        alt="top-illust3"
      />
      <div class="top-images-row-text">
        <h2 class="emphasis1">参加したいと思ったら</h2>
        <dl class="emoji-list">
          <dt class="emoji-list-item">
            <span class="emphasis2"> 場所とプランをご確認ください </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            <a href="/about">場所</a>と
            <a href="/plans">プラン</a>
          </dd>

          <dt class="emoji-list-item">
            <span class="emphasis2">
              無料体験レッスンをお申し込みください
            </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfner7z38OFfjQP5y6CFxmYhHdBEoLQuZJnC0BZVIcMjML7fA/viewform?usp=sf_link"
              target="_blank"
              rel="noopener"
            >
              お問い合わせ </a
            >から無料体験レッスンを選択してください
          </dd>
          <dt class="emoji-list-item">
            <span class="emphasis2"> 手ぶらで参加できます </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            コンピュータは運営でご用意します。
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="top-access">TODO 沼津オフィスの場所とマップ</div>
</div>
