---
title: ノイマンラボ -- Neumann Lab --
layout: layouts/main.njk
---

<div class="top">
  <div class="catchphrase">
    <img
      src="/img/IoTIMGL3537.webp"
      alt="IoT"
      class="catchphrase-image"
      loading="lazy"
    />
    <p class="catchphrase-title">
      Make
      <br class="mobile-only" />
      and
      <br class="mobile-only" />
      Fun
    </p>
  </div>

  <div class="top-images">
    <div class="top-images-row">
      <img
        src="/img/top-illust1.webp"
        class="top-images-row-image"
        loading="lazy"
        alt="top-illust1"
      />
      <div class="top-images-row-text">
        <h2 class="emphasis1">プログラミングをやってみよう</h2>
        <p>
          Neumann Lab (ノイマンラボ)
          は静岡県三島市で活動している初心者・子供向けのプログラミング教室です。
        </p>
        <ul class="top-images-row-text-list emoji-list">
          <li class="top-images-row-text-list-item emoji-list-item">
            <span class="emphasis2">
              まったくプログラミングをしたことがない人
            </span>
          </li>
          <li class="top-images-row-text-list-item emoji-list-item">
            <span class="emphasis2">
              本を読んでプログラミングをしてみたけど挫折した人
            </span>
          </li>
          <li class="top-images-row-text-list-item emoji-list-item">
            <span class="emphasis2"> プログラミング仲間がほしい人 </span>
          </li>
        </ul>
        <p>誰でも参加できます❗ご相談ください。</p>
      </div>
    </div>
    <div class="top-images-row-r">
      <img
        src="/img/top-illust2.webp"
        class="top-images-row-image"
        loading="lazy"
        alt="top-illust2"
      />
      <div class="top-images-row-text">
        <h2 class="emphasis1">大人も子供も同じ技術を学ぼう</h2>
        <dl class="emoji-list">
          <dt class="emoji-list-item">
            <span class="emphasis2"> みんなで同じ教材を使います </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            子供であっても大人と同じ技術を使ってプログラミングを学ぶべきです。
          </dd>
          <dt class="emoji-list-item">
            <span class="emphasis2">
              Pythonなどのプログラミング言語を学ぼう
            </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            Scratch のようなビジュアルプログラミングではなく Python
            などのテキストプログラミング言語を使います。
          </dd>
          <dt class="emoji-list-item">
            <span class="emphasis2"> 現役プログラマが教えます </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            実際に仕事でプログラミングを使っている講師が教えます。
          </dd>
        </dl>
      </div>
    </div>
    <div class="top-images-row">
      <img
        src="/img/top-illust3.webp"
        class="top-images-row-image"
        loading="lazy"
        alt="top-illust3"
      />
      <div class="top-images-row-text">
        <h2 class="emphasis1">参加したいと思ったら</h2>
        <dl class="emoji-list">
          <dt class="emoji-list-item">
            <span class="emphasis2"> 約 2 ヶ月に 1 度開催します </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            詳しくは
            <a href="/events"> 開催情報 </a>
            をご覧ください
          </dd>
          <dt class="emoji-list-item">
            <span class="emphasis2"> 参加費無料です </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            Neumann Lab は試験運用中のため今のところ参加費無料です。
          </dd>
          <dt class="emoji-list-item">
            <span class="emphasis2"> 手ぶらで参加できます </span>
          </dt>
          <dd class="top-images-row-text-list-item">
            コンピュータは運営でご用意します。
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
