---
title: プラン
layout: layouts/main.njk
---

<div class="plans">
  <h2 class="emphasis1">プラン</h2>
  <!--
    * microbitコース月2万円、全12回、入会金1ヶ月
    * 1回相談1時間3000円
   -->

  <div class="plan-container">
    <div class="plan-title">title</div>
    <div class="plan-image">image</div>
    <div class="plan-description">description</div>
  </div>
</div>
