---
title: ノイマンラボ -- Neumann Lab -- 講師紹介
layout: layouts/main.njk
---

<div class="teachers">
  <h2 class="emphasis1">講師紹介</h2>
  <div class="teachers-container">
    <img src="/img/kbaba1001.jpg" alt="馬場一樹" class="teachers-photo" />
    <h3>
      <span class="emphasis2"> 馬場一樹 </span>
    </h3>
    <div class="teachers-profile">
      <p>
        現役プログラマとして主に Web システムの開発を10年ほど行っています。
        昨今のプログラミング教育に疑問を感じ、自ら教育カリキュラムを作成して
        Neumann Lab を設立しました。好きな言語は Clojure と Ruby。
      </p>
      <p>
        <a href="https://www.neumann.tokyo" target="_blank">
          合同会社ノイマン
        </a>
        代表。
      </p>
    </div>
  </div>
</div>

<div class="company">
  <h2 class="emphasis1">運営企業について</h2>
  <div class="company-container">
    <img src="/img/neumann.png" src="合同会社ノイマン" class="company-photo" />
    <h3 class="emphasis2">合同会社ノイマン</h3>
    <div class="teachers-description">
      <p>
        静岡県三島市に本社を構えるIT企業です。主に Web
        システムの開発・運用をテレワークで行っています。
      </p>
      <p>
        <a href="https://www.neumann.tokyo" target="_blank">会社ホームページ</a>
      </p>
    </div>
  </div>
</div>
