:root {
  --layout-border-width: 5px;

  --bg-color: #fceade;
  --text-color: #222222;
  --main-bg-color: #f4bfbf;
  /* --main-fg-color: #222222; */
  --assort-bg-color: #ffd9c0;
  /* --assort-fg-color: #222222; */
  --accent-bg-color: #faf0d7;
  --accent-fg-color: #72b8e0;
  --accent2-fg-color: #de8c8c;

  --accent-button-bg-color: #ffb703;
  --accent-button-line-color: #fb8500;
  --accent-button-text-color: #ffffff;

  --zindex-catchphrase-title: 1;
}

body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

a {
  color: var(--accent-fg-color);
}
a:link {
  color: var(--accent-fg-color);
}
a:visited {
  color: var(--accent-fg-color);
}
a:hover {
  color: var(--accent-fg-color);
}
a:active {
  color: var(--accent-fg-color);
}
