.footer-nav {
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;
}

.footer-nav-item {
  color: var(--text-color);
}

.footer-nav-item:link {
  color: var(--text-color);
}

.footer-nav-item:visited {
  color: var(--text-color);
}

.footer-nav-item:hover {
  color: var(--text-color);
}

.footer-nav-item:active {
  color: var(--text-color);
}

@media only screen and (max-width: 800px) {
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav-item {
    font-size: 2.1rem;
  }
}
