.plan-container {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "image description";
  border: double var(--layout-border-width) var(--text-color);
  border-radius: 1rem;
}

.plan-title {
  grid-area: title;
  background-color: var(--bg-color);
  width: 100%;
  text-align: center;
  border-radius: 0.9rem 0.9rem 0 0;
}

.plan-image {
  grid-area: image;
  justify-self: center;
  align-items: center;
}

.plan-description {
  grid-area: description;
}
