.teachers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers-photo {
  width: 300px;
}

.teachers-profile {
  width: 80%;
}

/* ------------ */

.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-photo {
  width: 300px;
}

.teachers-description {
  width: 80%;
}
